<div id="left">
  <div class="side-title">カテゴリー</div>
  <div class="side">
    <ul class="side-list">
      <% @genres.each do |genre| %>
        <%= link_to "/genre/#{genre.id}" do %>
          <li>
            <div class="genre-name">
              <%= genre.value %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>