<div id="left">
  <div class="side-title">カテゴリー</div>
  <div class="side">
    <ul class="side-list">
      <li>歴史</li>
      <li>プログラミング</li>
      <li>音楽</li>
      <li>スポーツ</li>
      <li>常識問題</li>
      <li>なぞなぞ</li>
      <li>計算問題</li>
      <li>文学</li>
      <li>アニメ/漫画</li>
      <li>芸能</li>
      <li>ダジャレ</li>
      <li>食</li>
      <li>政治経済</li>
      <li>地理</li>
      <li>その他</li>
    </ul>
  </div>
</div>