@import "compass";

// .main-contents {
//   background-image: image-url('5417.jpg');
//   background-size: cover;
// }

body {
  background-image: image-url("IMG_2917.jpg");
  background-size: cover;
}

header {
  background-color: rgba(77,207,247,0.5);
  width: 100%;
  height: 60px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1);
  .header-contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .icon_image {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      object-fit: cover;
    }
    .title {
      color: white;
      line-height: 60px;
    }
    .user_nav a {
      color: white;
      line-height: 60px;
    }
  }
}

.main-view {
  background-image: image-url("5417.jpg");
  background-size: cover;
  padding: 15px;
}

.white-view {
  background-color: white;
}

.btn {
    padding: 8px 20px;
    font-size: 14px;
    border: 2px solid rgb(5, 5, 5);
    color: rgb(241, 245, 247);
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  &:hover {
    border-color: lighten(rgb(16, 17, 17), 15%);
    color: lighten(rgb(246, 249, 250), 15%);
  }
}



footer {
  padding-top: 18px;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(77,207,247,0.5);
  p {
    text-align: center;
  }
}

.main-contents {
  display: flex;
}


.search-title {
  font-size: 30px;
  padding-top: 20px;
}

.search-bar {
  width: calc(100% - 200px);
  text-align: center;
  overflow: scroll;
  .search-form {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    margin-right: 200px;
    margin-left: 200px;
    .search-input {
      height: 34px;
      width: 100%;
      border-radius: 20px 0 0 20px;
      padding: 5px 20px;
    }
    .search-send {
      position: relative;
      .search-btn {
        border-radius: 0 20px 20px 0;
        width: 70px;
        border: none;
        background: #25C7D8;
        color: #25C7D8;
      }
      .search-icon {
        position: absolute;
        color: #fff;
        top: 8px;
        right: 10px;
      }
    }
  }
}




.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 5;
  .quiz-link {
    text-decoration: none;
    .quiz-body {
      width: 198px;
      height: 198px;
      margin: 19px;
      border-top: 1px rgb(71, 69, 69) solid;
      border-right: 1px rgb(71, 69, 69) solid;
      border-left: 1px rgb(71, 69, 69) solid;
      border-bottom: 1px rgb(71, 69, 69) solid;
      border-radius: 5px 5px 10px 10px;
      background-color: white;
      box-shadow: 0 3px 6px 1px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
      transition: scale 0.1s ease-out, box-shadow 0.1s ease-out;
      .card-text {
        color: #333;
        margin-bottom: 10px;
      }
      .iine-icon {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        .heart {
          color: #ea352d;
          line-height: 24px;
          margin-left: 5px;
          .likes-count {
            display: inline-block;
            color: #333;
          }
        }
        .user-name {
          color: #a1a499;
        }
      }
    }
  }
}


.title {
  color: black;
  text-decoration: none;
}

.quiz-body:hover {
  transform: scale(1.1);
}

.more_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.form-contents {
  width: 100%;
  .form-group {
    width: 50%;
  }
  .form-check {
    .answer-column {
      display: block;
      margin-top: 10px;
      width: 50%;
      margin-right: 10px;
    }
  }
}

.choice-contents {
  display: flex;
  margin-bottom: 30px;
}

.submit-btn {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid rgb(5, 108, 252);
  color: white;
  background-color: rgb(5, 108, 252);
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  &:hover {
    border-color: lighten(rgb(246, 249, 250), 15%);
    color: lighten(rgb(246, 249, 250), 15%);
  }
}

.quiz-show {
  width: calc(100% - 200px);
  padding: 70px 120px;
  .quiz-content {
    background-color: white;
    background-image: image-url('5417.jpg');
    background-size: cover;
    padding: 30px;
    .quiz-view {
      background-color: white;
      padding: 10px;
      .quiz-main {
        display: flex;
        margin-bottom: 30px;
        .quiz-image {
          width: 350px;
          height: 250px;
        }
        .quiz-text {
          padding-left: 20px;
          list-style: none;
          .genre-text {
            font-weight: bold;
            margin-bottom: 10px;
          }
          .choice-unswer {
            margin-bottom: 10px;
            font-size: 17px;
            span {
              margin-right: 10px;
            }
          } 
        }
      }
      .sub-contents {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .edit-devise {
          a {
            text-decoration: none;
            color: #333;
            line-height: 34px;
          }
        }
      }
    }
  }
}

.login-contents {
  height: calc(100% - 118px);
  padding: 100px;

  .contents-main {
    padding: 30px;
    width: 50%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(black,0.2);
  }
}



.create-content {
  text-align: center;
  margin: auto;
}